@{
    ViewData["Title"] = "List";
}

@model BreadsListViewModel


@foreach (var bread in Model.Breads)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@bread.image" alt="">
            <div class="caption">
                <h3>
                    <a>@bread.name</a>
                </h3>
                <p>@bread.description</p>
            </div>
        </div>
    </div>
}